* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Button Style */

.btn-banner {
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFFFFF;
    margin-top: 30px;
}

.btn-call {
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #dedbd9;
    margin: 0 100px;
}

.subscribe-btn {
    font-weight: 700;
    font-size: 20px;
    border: 1px;
    padding: 18px 35px;
    margin-top: 15px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
}

/*Header and banner styles */

header {}

.banner {
    background-image: url('/images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 808px;
    text-align: right;
    padding: 300px;
    width: auto;
}

.banner-title {
    font-size: 65px;
}

.primary-description {
    margin-top: 15px;
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

.primary-image {
    width: 569px;
    height: 723.3px;
}

.image-box {
    width: 92.96px;
    height: 92.96px;
    text-align: center;
}

.fail-section {
    display: flex;
    justify-content: space-evenly;
    align-items: right;
    padding-bottom: 400px;
    padding-top: 50px;
}

.failures {
    width: 416px;
    height: 400px;
    
}



.fail-title {
    font-weight: 700;
    font-size: 40px;
    text-align: left;
    padding-top: 120px;
    
}

.plan-title{
    text-align: center;
    font-weight: 700;
    font-size: 40px;   
}


.success-title{
    text-align: center;
    font-weight: 700;
    font-size: 40px;   
}

.container-plan {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    align-items: center;
    margin-bottom: 130px;

}
.container-success {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    align-items: center;
    margin-bottom: 130px;

}

.quote-cta {
    width: 1140px;
    height: 300px;
    background: linear-gradient(to right, rgb(68, 255, 0), rgb(236, 104, 104)), url(/images/watch.png);
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    margin-left: 300px;
    margin-bottom: 80px;
    border-radius: 8px;
    color: #be9d08;
}

.quote-title {
    text-align: left;
    padding: 60px 100px;
    color: rgb(45, 28, 5);
}

.footer-section {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(219, 204, 204);
    padding-top: 70px;
    width: auto;
    text-decoration: none;
}

.connect-me {
    text-align: left;
    width: 485px;
    height: 317px;
}

.connect-me a{
    text-decoration: none;
}
.subscribe {
    width: 325px;
    height: 204px;
}