* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}



/* Button Style */

.btn-primary {
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFFFFF;
    margin-top: 30px;
}

/*Header and banner styles */

header{
    

}

.banner {
    
    
    background-image: url('/images/banner/banner2.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 808px;
    text-align: right;
    padding: 300px;
 
}

.banner-title {
    font-size: 65px; 
}

.primary-description{

}